* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: monospace;
	color: #FFF;
	background-repeat: no-repeat;
  background: linear-gradient(-40deg, #051d14,  #816111c5, #01040af3, #011d11);
  background-size: cover;
	background-size: 400% 400%;
	animation: gradient 80s ease-in-out infinite;
	height: 70vh;
}
.tabs .list{
    padding: 0;
    list-style: none;
    display: flex;
    cursor: pointer;
    float: right;
    margin-top: -60px;
    margin-right: 50px;
    z-index: 1;
}
.tabs .list .tab{
    width: 100px;
    text-align: center;
    z-index: 1
}
.tabs .list .tab:hover{
    transition: 0.3s;
    text-shadow: 0px 4px 20px #e3e9e5;
}

.tabs .tab.active
{
    cursor: default;
    color: whitesmoke;
    text-align: center;
    border-bottom: 4px solid wheat;
    font-size: 13px;
}
.m-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
	/*
	 * This is just a small visual demo. 
	 * No real mobile optimisation necessary.
	 */
	@media (max-width: $cardWidth) {
		transform: scale(.5);
		width: 200vw;
	    transform-origin: left;
	}    
}
.c-creditcard {
	width: 100%;
	max-width: 100%;
	padding: 32px;
	border-radius: 25px;
	background: linear-gradient(155deg, rgb(255, 255, 255, .15), transparent);
	backdrop-filter: blur(100);
	animation: cardWobble 10000ms infinite;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
}
.c-creditcarde {
	width: 100%;
	max-width: 100%;
	padding: 32px;
	border-radius: 15px;
	background: linear-gradient(155deg, #fcfdfc26, transparent);
	backdrop-filter: blur(100);
    height: 80%;
    margin-top: -80px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
}
.c-decoration {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: (100% + 100px);
	transform: translate(-50%, -50%);
	
	@supports not(aspect-ratio: 3.5 / 2) {
		padding-bottom: calc(100% * 2 / 3.5 / 2);
	}
}
.contents .content
{
    background: #cbcad638;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(19.3px);
    -webkit-backdrop-filter: blur(19.3px);
    border: 1px solid #cbcad630;
    padding: 20px;
    margin: 30px;
    margin-top: 120px;
}
.contents .content
{
    display: none;
}
.contents .content.show
{
    display: block;
}
.lien
{
    display: flex;
    position: absolute;
    margin-bottom: 20px; 
}
.lien a{
    text-decoration: none;
    border: 1px solid #206791;
    background-color: #206791;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    margin-top: 350px;
    margin-left: 3px;
    z-index: 56;
    font-size:25px;
    justify-content: center;
    padding-top: 6px;
    font-weight: bold;
}
.lien a:hover{
    background-color: #01090e;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 7px 2px #cee9d7dc;
}
.competence
{
    /*display: flex;
     esorina fotsiny ity raha haneho sary
*/
display: none;
}
.img
{
  animation: competenceanim 5s;
}
.p_competence{
  /*
  esorina fotsiny ity raha haneho sary
  display: none;
  */
    width: 50%;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    margin-top: -40px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.p_competence.hide{
    display: none;
}

.left, .right
{
    font-size: 60px;
    cursor: pointer;
    opacity: 0.7;
    margin: 20px;
    animation: fade_fleche 8000ms infinite;
    text-shadow: #000;
    
}
.d_experience
{
position: absolute;
margin-left: 8%;
margin-top: -3%;
font-size: 160px;
font-family: 'Times New Roman', Times, serif;
width: 30%;
border-right: 3px solid white;
-webkit-animation-name: fado;
-webkit-animation-duration: 3s;
animation-name: fado;
animation-duration: 3s;
}
.d_status
{
    font-size: 20px;
    float: right;
    width: 40%;
    margin-top: -30px;
    margin-right: 10%;
    -webkit-animation-name: fadi;
    -webkit-animation-duration: 0.6s;
    animation-name: fadi;
    animation-duration: 0.6s;
}
.d_status .d_detail
{
    font-size: 13px;
    margin-left: 20px;
}
.p_competence {
display: none
}
.slider
{
  display: inline;

}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
.fad {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  .fada {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
.za
{
 -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 100ms;
 animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 100ms;
 }
 
            /* ----------------------------------------------
 * Generated by Animista on 2022-5-19 14:42:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */

  /*
  iooooooooooooo
  */

  .box{
    transform: translate(-0%, -45%);
    width: 230px;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(227, 233, 229);
    border-bottom: 0.4px solid #eaebf1;
    padding: 20px;
    position: absolute;
    margin-top: -5%;
    margin-left: 39%;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: #c4ddda85;
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 10s linear infinite;
  }
  .button {
    z-index: 3;
    margin-top: 70px;
    margin-left: -520px;
    min-width: 170px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: whitesmoke;
    background: #206791;
  background: linear-gradient(90deg, #6bbae7 0%, #206791 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 1px 0px 3px 5px #bdf5efa3;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(40px + 12px);
    border: 3px solid #f1f3f5;
    box-shadow: 0 0 30px whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #f9f9fc;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 25px; height: 25px;
    border-radius: 100%;
    border: 3px solid #dee4e7;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 12s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  .zaa{
    animation: zaaanim 7s;
    font-size: 50px;
    text-shadow: 10px 20px 50px rgb(227, 233, 229);
    z-index: 3;
  }
.sariko
{
  width: 210px;
  height: 300px;

}
  .z{
    animation: zaaanim 7s;
  }
  .zaoa{
    animation: zaaanim 7s;
    font-size: 15px;
    text-shadow: 10px 20px 50px rgb(227, 233, 229);
    text-decoration: underline;

  }
  .image
  {
    position: relative;
    justify-content: center;
	  height: 93vh;
    transform: scale(.5);
		width: 90vw;
    margin-top: -42px;
    transform-origin: 1%;
    border-radius: 30px;
  }
  .description
  {
    position: relative;
    float: right;
    margin-top: -38%;
   margin-left: -30%;
    }
  .description .title
  {
    font-size: xx-large;
  }
   .btn {
    position:relative;
    width: 155px;
    height: 55px;
    margin:20px;
  }
  
   .btn a
  {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-size: 400;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    
  }
  
   .btn:hover a
  {
    letter-spacing: 3px;
  }
  
  .btn a::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),
    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  
   .btn:hover a::before
  {
    transform: skewX(45deg) translateX(200%);
  }
   .btn::before
  {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width:30px;
    height:7px;
    background: #061011e3;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  .btn:hover::before
  {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .btn::after
  {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width:30px;
    height:10px;
    background: #061011e3;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  .btn:hover::after
  {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.2s;
  }
  
   .btn::before,
  .btn::after
  {
    background: #1f80ff;
    box-shadow: 0 0 5px #1f80ff,
    0 0 15px #1f80ff,
    0 0 30px #1f80ff,
    0 0 60px #1f80ff;
  }
.action
{
  text-decoration: underline;
  color: whitesmoke;
  font-size: 10px;
  display: block;
  cursor: pointer;
  margin-left: 20px;
}
  
  
  /*
  .c-creditcare
  {
    position:absolute;
    margin-left: -20%;
    margin-top: -10%;
    width: 600px;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  */
  
  @keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.4;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
    
  }

  @keyframes competenceanim {
    0% {
      opacity: 0;
      transform: translateX(50px);
      transform: scaleX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transform: scaleX(0px);
    } 
  }
  @keyframes zaaanim {
    0% { opacity: 0; color: #8fc2bee1;}
    100% {opacity: 1; color: whitesmoke;}
  }
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(20px);
              transform: translateZ(20px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
 /*animation competence sy experience*/
  @keyframes fade_fleche {
            0% {opacity: 0.7;color: whitesmoke;}
            70% {opacity: 1;color: rgb(26, 134, 111);}
            100% {opacity: 1;color: whitesmoke;}
 }

@-webkit-keyframes fade {
  from {
  opacity: .4
  }
  to {
  opacity: 1
  }
  }
  @keyframes fade {
  from {
  opacity: .4
  }
  to {
  opacity: 1
  }
  }
  /*animation competence sy experience*/
  @-webkit-keyframes fadi {
      from {
      opacity: .2;
      color: #52dd9c;
      }
      to {
      opacity: 1;
      color: whitesmoke;
      }
      }
      @keyframes fadi {
      from {
      opacity: .2;
      color: #52dd9c;
      }
      to {
      opacity: 1;
      color: whitesmoke;
      }
      }
  
      /*animation date*/
 @keyframes fado {
          from {
              transform: translateX(-60px);
               }
               to {
              transform: translateX(0px);
               }
  }
      /*
      animation fleche
      */
    @-webkit-keyframes fade {
          from {
          opacity: .4
          }
          to {
          opacity: 1
          }
    }
    @keyframes fade {
          from {
          opacity: .4
          }
          to {
          opacity: 1
          }
    }
    @keyframes cardWobble {
	0% { transform: translateY(30px) }
	50% { transform: translateY(-30px) }
	100% { transform: translateY(30px) }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin: 0 0 30px;
  text-align:center;
  color:#2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background:#000;
  border-radius:2px;
  border: 1px solid #2187e7;  
  box-shadow: 0px 0px 50px -8px #2187e7;
}
h2.plataformas {
  border: 1px solid #9ACD32;  
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.programas {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
 
.conteneur {
  width: 100%;
  padding:5%;
  margin: 0 auto; 
  overflow: hidden;
}

.col {
  width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 10px;
  line-height: 2em;
  padding: 5% 0;
} 
/*.col { width:101%; }*/
.skill { 
  list-style:none; 
  padding-top:10px;
}

.skill li { 
  margin-bottom:30px; 
  background:#030303; 
  height:6px; 
  border-radius:3px; 
  border-left:1px solid #111; 
  border-top:1px solid #111; 
  border-right:1px solid #333; 
  border-bottom:1px solid #333;  
}

.skill li em { 
  position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#dedede;
  top:-28px;
}

.blueline { 
  height: 3px; 
  margin: 2px 0; 
  background: #2187e7; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.greenline { 
  height: 3px; 
  margin: 2px 0; 
  background: #9ACD32; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
}
.redline { 
  height: 3px; 
  margin: 2px 0; 
  background: #FF4500; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}

.titulo      { opacity:1;  animation:titulo 5s ease-out;     }

/*programacion*/
.html        { width:90%;  animation:html 2s ease-out;       }
.css         { width:95%;  animation:css 2s ease-out;        }
.php         { width:70%;  animation:php 2s ease-out;        }
.javascript  { width:50%;  animation:javascript 2s ease-out; }
.jquery      { width:30%;  animation:jquery 2s ease-out;     }

/*plataformas*/
.wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
.prestashop  { width:60%;  animation:prestashop 2s ease-out; }
.joomla      { width:40%;  animation:joomla 2s ease-out;     }
.blogger     { width:70%;  animation:blogger 2s ease-out;    }
.tridion      { width:60%;  animation:tridion 2s ease-out;     }

/*programas*/
.dreamweaver { width:90%;  animation:dreamweaver 2s ease-out;}
.illustrator { width:30%;  animation:illustrator 2s ease-out;}
.photoshop   { width:70%;  animation:photoshop 2s ease-out;  }
.premiere    { width:50%;  animation:premiere 2s ease-out;   }
.flash       { width:60%;  animation:flash 2s ease-out;      }


@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }

/*programacion*/
@keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:95%; }  }
@keyframes php         { 0% { width:0px; } 100% { width:70%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }

/*plataformas*/
@keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
@keyframes prestashop  { 0% { width:0px; } 100% { width:60%; }  }
@keyframes joomla      { 0% { width:0px; } 100% { width:40%; }  }
@keyframes blogger     { 0% { width:0px; } 100% { width:70%; }  }
@keyframes tridion      { 0% { width:0px; } 100% { width:60%; }  }

/*programas*/
@keyframes dreamweaver { 0% { width:0px; } 100% { width:90%; }  }
@keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
@keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }
@keyframes premiere    { 0% { width:0px; } 100% { width:50%; }  }
@keyframes flash       { 0% { width:0px; } 100% { width:60%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}
/*
media query
*/
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}





  
  